In [1]:
import pandas as pd
import numpy as np

In [2]:
movies=pd.read_csv('movies.csv')
movies.head(1)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"

In [3]:
movies.shape

(21832, 23)

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21832 entries, 0 to 21831
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    21832 non-null  int64
 1   title                 21832 non-null  object
 2   vote_average          21832 non-null  float64
 3   vote_count            21832 non-null  int64
 4   status                21832 non-null  object
 5   release_date          21832 non-null  object
 6   revenue               21832 non-null  int64
 7   runtime               21832 non-null  int64
 8   adult                 21832 non-null  bool
 9   backdrop_path         14644 non-null  object
 10  budget                21832 non-null  int64
 11  homepage              4421 non-null   object
 12  imdb_id               13754 non-null  object
 13  original_language     21832 non-null  object
 14  original_title        21832 non-null  object
 15  overview              21420 non-null  object
 16  popularity            21832 non-null  float64
 17  poster_path           21095 non-null  object
 18  tagline               5671 non-null   object
 19  genres                13103 non-null  object
 20  production_companies  17646 non-null  object
 21  production_countries  18010 non-null  object
 22  spoken_languages      18728 non-null  object
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 3.7+ MB

In [5]:
movies1=movies[['id','title','overview','genres','production_companies']]
movies1

,id,title,overview,genres,production_companies
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",Marvel Studios
...,...,...,...,...,...
21827,689416,Gangbang Auditions 34,"Hardcore gangbang action! Blow-bang hotties, c...",NaN,Diabolic Video
21828,683938,Big Butt Attack 8,"Elinor, Diana, and the incredible Linda Shane ...",NaN,Evil Angel
21829,653101,Sharing Her With Friends,"Sharing is caring, and in this case, it's gett...",NaN,New Sensations
21830,640871,Alluring Emotion â€“ Ai Sayama,A live-action adaptation of a popular comic th...,Drama,OPPAI
21831,645621,A Stepfather's Desires 2,"Ever since they met, they've had a thing for t...",NaN,Digital Sin

In [6]:
#check and drop the missing value 

movies1.isnull().sum()

id                         0
title                      0
overview                 412
genres                  8729
production_companies    4186
dtype: int64

In [7]:
movies2 = movies1.dropna()

In [8]:
#movies2 = movies1[movies1['id'] <= 70000]
movies2.isnull().sum()

id                      0
title                   0
overview                0
genres                  0
production_companies    0
dtype: int64

In [9]:
#check duplicate data rows and remove them 

movies2.duplicated().sum()

0

In [10]:
movies2 = movies2.drop_duplicates()
movies2.head()

,id,title,overview,genres,production_companies
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",Marvel Studios

In [11]:
movies2.duplicated().sum()

0

In [12]:
#handles genres 
#that is make array type of the genres (in our case data is already in the array form so no change )

movies2.iloc[0].genres

'Action, Science Fiction, Adventure'

In [13]:
#convert string to arrays 
movies2['genres'] = movies2['genres'].str.split(',')
movies2['production_companies'] = movies2['production_companies'].str.split(',')

In [14]:
def collapse(obj):
    l=[]
    for i in obj:
        l.append(i.replace(" ",""))
    return l

In [15]:
movies2['genres']=movies2['genres'].apply(collapse)
movies2['production_companies']=movies2['production_companies'].apply(collapse)
# movies2['networks']=movies2['networks'].apply(collapse)
# movies2['tagline']=movies2['tagline'].apply(collapse)

In [16]:
movies2.head(5)

,id,title,overview,genres,production_companies
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","[Action, ScienceFiction, Adventure]","[LegendaryPictures, Syncopy, WarnerBros.Pictures]"
1,157336,Interstellar,The adventures of a group of explorers who mak...,"[Adventure, Drama, ScienceFiction]","[LegendaryPictures, Syncopy, LyndaObstProducti..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"[Drama, Action, Crime, Thriller]","[DCComics, LegendaryPictures, Syncopy, IsobelG..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[DuneEntertainment, LightstormEntertainment, 2..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"[ScienceFiction, Action, Adventure]",[MarvelStudios]

In [17]:
movies2['overview']=movies2['overview'].apply(lambda x:x.split())
movies2.head(5)

,id,title,overview,genres,production_companies
0,27205,Inception,"[Cobb,, a, skilled, thief, who, commits, corpo...","[Action, ScienceFiction, Adventure]","[LegendaryPictures, Syncopy, WarnerBros.Pictures]"
1,157336,Interstellar,"[The, adventures, of, a, group, of, explorers,...","[Adventure, Drama, ScienceFiction]","[LegendaryPictures, Syncopy, LyndaObstProducti..."
2,155,The Dark Knight,"[Batman, raises, the, stakes, in, his, war, on...","[Drama, Action, Crime, Thriller]","[DCComics, LegendaryPictures, Syncopy, IsobelG..."
3,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[DuneEntertainment, LightstormEntertainment, 2..."
4,24428,The Avengers,"[When, an, unexpected, enemy, emerges, and, th...","[ScienceFiction, Action, Adventure]",[MarvelStudios]

In [18]:
movies2['tags']=movies2['overview']+movies2['genres']+movies2['production_companies']       #+movies2['created_by']+movies2['networks']+movies2['tagline']

In [19]:
movies2.head(5)

,id,title,overview,genres,production_companies,tags
0,27205,Inception,"[Cobb,, a, skilled, thief, who, commits, corpo...","[Action, ScienceFiction, Adventure]","[LegendaryPictures, Syncopy, WarnerBros.Pictures]","[Cobb,, a, skilled, thief, who, commits, corpo..."
1,157336,Interstellar,"[The, adventures, of, a, group, of, explorers,...","[Adventure, Drama, ScienceFiction]","[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,..."
2,155,The Dark Knight,"[Batman, raises, the, stakes, in, his, war, on...","[Drama, Action, Crime, Thriller]","[DCComics, LegendaryPictures, Syncopy, IsobelG...","[Batman, raises, the, stakes, in, his, war, on..."
3,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[DuneEntertainment, LightstormEntertainment, 2...","[In, the, 22nd, century,, a, paraplegic, Marin..."
4,24428,The Avengers,"[When, an, unexpected, enemy, emerges, and, th...","[ScienceFiction, Action, Adventure]",[MarvelStudios],"[When, an, unexpected, enemy, emerges, and, th..."

In [20]:
movies2=movies2.drop(columns=['overview','genres','production_companies'])   #,'created_by','networks','tagline'])
movies2.head(5)

       id            title                                               tags
0   27205        Inception  [Cobb,, a, skilled, thief, who, commits, corpo...
1  157336     Interstellar  [The, adventures, of, a, group, of, explorers,...
2     155  The Dark Knight  [Batman, raises, the, stakes, in, his, war, on...
3   19995           Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...
4   24428     The Avengers  [When, an, unexpected, enemy, emerges, and, th...

In [21]:
movies2['tags']=movies2['tags'].apply(lambda x: " ".join(x))

In [22]:
movies2.iloc[0].tags

'Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious. Action ScienceFiction Adventure LegendaryPictures Syncopy WarnerBros.Pictures'

In [23]:
import re
movies2['tags'] = movies2['tags'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

In [24]:
movies2.iloc[0].tags

'Cobb a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible inception the implantation of another persons idea into a targets subconscious Action ScienceFiction Adventure LegendaryPictures Syncopy WarnerBrosPictures'

In [25]:
movies2['tags']=movies2['tags'].apply(lambda x:x.lower())

In [26]:
movies2.iloc[0].tags

'cobb a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible inception the implantation of another persons idea into a targets subconscious action sciencefiction adventure legendarypictures syncopy warnerbrospictures'

In [27]:
# apply stemming 

import nltk 
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [28]:
movies2['tags'] = movies2['tags'].apply(stem)
movies2.iloc[0].tags

'cobb a skill thief who commit corpor espionag by infiltr the subconsci of hi target is offer a chanc to regain hi old life as payment for a task consid to be imposs incept the implant of anoth person idea into a target subconsci action sciencefict adventur legendarypictur syncopi warnerbrospictur'

In [29]:
#count vectorization

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
tags1 = cv.fit_transform(movies2['tags']).toarray()

In [30]:
# Calculate cosine similarity matrix
#we'll convert the tags1 to tensorflow tensor for gpu support 

from sklearn.metrics.pairwise import cosine_similarity
import tensorflow as tf
tags1_tf = tf.convert_to_tensor(tags1, dtype=tf.float32)
similar_tf = tf.linalg.matmul(tags1_tf, tags1_tf, transpose_b=True)     #then we'll calculate cosine matrix 
similar = similar_tf.numpy()                                            #we'll get the cosine matrix as numpy array

In [31]:
def recommend(movie):
    index = movies2[movies2['title'] == movie].index[0]
    distance = sorted(list(enumerate(similar[index])), reverse=True, key=lambda x: x[1])
    recommended_movies = [movies2.iloc[i[0]]['title'] for i in distance[1:10]]
    for recommended_movie in recommended_movies:
        print(recommended_movie)

In [32]:
recommend("Harry Potter and the Goblet of Fire")

Queens Of Combat 5
Harry Potter and the Half-Blood Prince
Harry Potter and the Order of the Phoenix
Harry Potter and the Deathly Hallows: Part 2
The King of Staten Island
Fullmetal Alchemist the Movie: Conqueror of Shamballa
The Valorous Marksman
Dear Brother
Iâ€™m Glad to Be Alive

In [33]:
import pickle 
pickle.dump(movies2,open('series_list.pickle','wb'))

In [34]:
pickle.dump(similar,open('similarity.pickle','wb'))